<div class="container">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
    <tr>
      <th>Nom</th>
      <th>prenom</th>
      <th>Email</th>
      <th>birth date</th>
      <th>created at</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let user of usersList; let i= index">
    <tr>
      <td>{{ user.nom }}</td>
      <td>{{ user.prenom }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.date_de_naissance | date }}</td>
      <td>{{ user.createdAt | date}}</td>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="[user.id]" >Details</button>
        <button type="button" class="btn btn-danger" (click)="toDeleteUser(user.id, i)">Delete</button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Nom</th>
      <th>prnom</th>
      <th>Email</th>
      <th>birth date</th>
      <th>created at</th>
      <th></th>
    </tr>
    </tfoot>
  </table>
</div>
